@tailwind base;

@font-face {
  font-family: 'Sofia Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 100%;
  src: url('../fonts/SofiaSans-VariableFont_wght.ttf') format('ttf');
}
